# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# MkDocs build output
site/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

